#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.people {
  display: flex;
  justify-content: space-between;
}
.person {
  margin: 15px;
}
.person:hover {
  /* filter: drop-shadow(0 0 2em #646cffaa); */
  opacity: .8;
}
.person.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
