#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.people {
  display: flex;
  justify-content: space-between;
}
.person {
  margin: 15px;
  cursor: pointer;
}
.person:hover {
  /* filter: drop-shadow(0 0 2em #646cffaa); */
  opacity: .8;
  border: 1px solid lightslategray;
}
.person.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.name {
font-weight: bold;
}
.hobby{
  color: blueviolet;
}
.hobbies_message{
  color: green;
}
.feedback{
  display: flex;
  flex-direction: column;
}
.email{
  height: auto;
  padding-left: 15px;
}
.message{
  height: auto;
  margin: 15px 0;
  padding-left: 15px;
}

